body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
}
.login-page {
    width: 360px;
    padding: 120px;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 15px 30px blueviolet;
}
.form input {
    font-family: 'Times New Roman', Times, serif;
    outline: 0;
    border-radius: 8px;
    background-color:aquamarine;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    border-radius: 8px;
    outline: 0;
    background-color:black;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus {
    background-color: blue;
}
.form .massage {
    margin: 15px;
    color: red;
    font-size: 12px;
}
.form .message a{
    color: red;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.cointener {
    position: relative;
    z-index: 1;
    width: 300px;
    margin: auto;
}
.conteiner::before
.cointener::after {
    content: "";
    display: block;
    clear: both;
}
.cointener .info {
    margin: 58px auto;
    text-align: center;
}
/* .conteiner .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 35px;
    font-weight: 300;
    color: red;
}
.conteiner .info span {
    color: brown;
    font-size: 12px;
} */
.conteiner .info span a{
    color: blueviolet;
    text-decoration: none;
}
.conteiner .info span .fa {
    color: white;
}